@model Recipe
<h1>Change recipe:</h1>

@*<tr><th scope="col">Name</th></tr>*@
<div>
    <div>@Model.Name</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Ilość</th>
            <th scope="col">Kalorie</th>
            <th />
        </tr>
    </thead>
    @foreach (var i in Model.Ingredients)
    {
        <tr>
            <td>@i.Product.Name</td>
            <td>@(i.Ammount*1000) g</td>
            <td>@(Math.Round((double)i.Product.Energy * i.Ammount, 0)) kcal</td>
            <td>
                <a asp-controller="Recipes"
                   asp-action="DeleteIngredient"
                   asp-route-modelId="@Model.Id"
                   asp-route-ingedientId="@i.Id"
                   class="btn btn-danger small_button">
                    Delete
                </a>
            </td>
        </tr>
    }
    <tr>
        @Html.BeginForm("AddIngredient", "Recipes", FormMethod.Post)
        {
        <td>
            <select id="available_products" name="productId">
                @foreach (var option in ViewBag.products)
                {
                    <option value="@option.Id" data="@option.Energy">@option.Name</option>
                }
            </select>
        </td>
        <td>
            <input name="modelId" type="hidden" value="@Model.Id"/>
            <input id="weight_in_grams" name="weightInGrams" type="number" value="" oninput="update_kcals()" />
        </td>
        <td>
            <input id="kcals" name="kcals" type="number" value="" disabled />
        </td>
        <td>
            <button id="cancel_button" class="btn btn-warning small_button">Cancel</button>
            <button type="submit" id="submit_button" class="btn btn-primary small_button">Add</button>
        </td>
        }
    </tr>
</table>
<div>@Model.Instructions</div>
<script src="~/js/recipes_edit.js"></script>
