@model Recipe
<h1>Change recipe:</h1>

<div class="container">
    <div class="row justify-content-end">
        <div id="kcal_info" class="btn btn-outline-secondary col-2">@Math.Round(Model.Ingredients.Sum(i => i.Ammount * (double)i.Product.Energy), 0) kcal</div>
        <div class="col-1">&nbsp;</div>
    </div>
</div>
<div>
    <div id="recipe_name" class="float-left">@Model.Name</div>
    <button id="rename_recipe" class="btn btn-primary small_button" onclick="enableRename()">Rename</button>
    <div id="rename_form" style="display: none" class="container">
        @using (Html.BeginForm("Rename", "Recipes", FormMethod.Post))
        {
        <div class="row">
            <input name="id" type="hidden" value="@Model.Id" />
            <div class="col-9">
                <input name="newName" type="text" value="@Model.Name" class="form-control" />
            </div>
            <div class="col">
                <a id="cancel_rename" class="btn btn-warning small_button" onclick="disableRename()">Cancel</a>
                <input type="submit" value="Submit" class="btn btn-outline-primary small_button" />
            </div>
        </div>
        }
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Ilość</th>
            <th scope="col">Kalorie</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    @foreach (var i in Model.Ingredients)
    {
        <tr>
            <td>@i.Product.Name</td>
            <td>@(i.Ammount*1000) g</td>
            <td>@(Math.Round((double)i.Product.Energy * i.Ammount, 0)) kcal</td>
            <td>
                <a asp-controller="Recipes"
                   asp-action="DeleteIngredient"
                   asp-route-modelId="@Model.Id"
                   asp-route-ingedientId="@i.Id"
                   class="btn btn-danger small_button">
                    Delete
                </a>
            </td>
        </tr>
    }
    <tr>
        @using (Html.BeginForm("AddIngredient", "Recipes", FormMethod.Post))
        {
        <td>
            <select id="available_products" name="productId" class="form-control" onchange="update_kcals()">
                @foreach (var option in ViewBag.products)
                {
                    <option value="@option.Id" data="@option.Energy">@option.Name</option>
                    }
            </select>
        </td>
        <td>
            <input name="modelId" type="hidden" value="@Model.Id"/>
            <input id="weight_in_grams" name="weightInGrams" type="number" value="" oninput="update_kcals()" class="form-control"/>
        </td>
        <td>
            <input id="kcals" name="kcals" type="number" value="" disabled class="form-control"/>
        </td>
        <td>
            <button type="submit" id="submit_button" class="btn btn-primary small_button">Add</button>
        </td>
        }
    </tr>
</table>
<div class="container">
    <div id="instructions" class="float-left">@Model.Instructions</div>
    <button id="enable_instructions_edit_button" class="btn btn-primary small_button" onclick="enableInstructionsEdit()">Edit</button>
    <div id="edit_instructions_form" style="display: none">
        @using (Html.BeginForm("EditInstructions", "Recipes", FormMethod.Post))
        {
        <div class="row">
            <input name="id" type="hidden" value="@Model.Id" />
            <div class="col-9">
                <textarea name="newInstructions" class="form-control">@Model.Instructions</textarea>
            </div>
            <div class="col">
                <a id="cancel_edit_instructions" class="btn btn-warning small_button" onclick="disableInstructionsEdit()">Cancel</a>
                <input type="submit" value="Submit" class="btn btn-outline-primary small_button" />
            </div>
        </div>
        }
    </div>
</div>
<div>&nbsp;</div>
<script src="~/js/recipes_edit.js"></script>
